{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {deps, [{proper, "1.3.0"}]}
    ]}
]}.

{xref_ignores, [{pg_codec, behaviour_info, 1},
                {pg_codec, decode, 4},
                {pg_codec, decode_text, 4},
                {pg_codec, encode, 4},
                {pg_codec, init_mods, 2}]}.
