{erl_opts, [debug_info]}.
{deps, []}.

{xref_ignores, [{pg_types, format_error, 1},
                {pg_types, update_map, 3},
                {pg_codec, behaviour_info, 1},
                {pg_codec, decode, 4},
                {pg_codec, decode_text, 4},
                {pg_codec, encode, 4},
                {pg_codec, init_mods, 2}]}.

%% `rebar3 as test proper`
{profiles,
 [{test,
   [{deps, [{proper, "1.3.0"}]},
    {plugins, [rebar3_proper]}
   ]}]
}.
